* {
  margin: 0;
  padding: 0;
  outline: none;
}
html{
  height: 100vh;
  width: 100vw;
}
body{
  background-image: url("/images/33001465-fcf4-48ab-93b0-14577909acd5.jpg");
  background-size: cover;
  background-position: 50% 100%;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $menu-icon-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:  $hover-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $menu-icon-color;
}
.btn-primary{
  border: none;
  background-color: $hover-color;
  &:hover{
    background-color: $hover-color;
  }
  &:focus{
    border: none;
    background-color: $hover-color;
  }
}
