// bootstrap variables override
$grid-gutter-width: 20px;
$menu-icon-color: #230545;
$overlay-color : rgba(255, 255, 255, 0.7);
$hover-color: #ff7b2e;
$light-color: white;
$wheat: wheat;
$font-dark:black;
$favorite: darkred;
$termsTextColor:#098be2;
$termSpanEmphasisColor: rgb(10, 100, 160);
