<nav>
  <div class="nav-wrapper">
    <div (click)="ToggleMenu()" [class.menu-open]="ToggleMenu()" class="mobile-list-icon">
      <div class="a"></div>
      <div class="b"></div>
      <div class="c"></div>
    </div>
    <button *ngIf="!IsMenuOpen" class="btn btn-dark">
      <a routerLink="user/login">Login</a>
    </button>
  </div>
  <section class="menu-mobile-list" [class.active]="!ToggleMenu()" >
    <a class=" about item-style" href="#">
      <img src="../../../assets/images/logo_01_1x.png" alt=""></a>
    <a class=" services item-style" href="#">Products</a>
    <a class=" place-order item-style" href="#">BLOG</a>
    <a class=" faqs item-style" href="#">FAQS</a>
    <a class=" blog item-style" routerLink="user/login">Login</a>
    <a class=" contact item-style" href="#">CONTACT US</a>
  </section>
</nav>
<router-outlet></router-outlet>
<footer [class.nav-open]="ToggleMenu()" >
  <div class="container">
    <form class="input-group row">
      <div class="d-flex col-3">
        <button class="btn btn-outline-secondary w-100" type="button" id="inputGroupFileAddon03">Your Car brand</button>
      </div>
      <input disabled type="text" placeholder="Your Car model" aria-label="First name" class="col-3 form-control mr-2">
      <input type="text" placeholder="Part Name" aria-label="Last name" class="form-control col-3 ml-2 mr-2">
      <button type="submit" class="ml-2 col-2 btn btn-success">Search</button>
    </form>
  </div>
</footer>
