<nav class="container-fluid">
  <div class="nav-wrapper ">
      <a routerLink="/" class="logo" [class.deactivate]="IsNavOpen">
          <img src="../../../assets/images/yalla%20feen%20logo1.png" alt="logo">
      </a>
      <button class="search-component btn btn-secondary" [hidden]="IsNavOpen" (click)="StartSearch()" [class.active]="IsSearchOpen" >
          <span class="span-style pr-2 pl-2">Find your trip</span>
          <span class="icon-search-wrapper">
              <i class="fas fa-search" [class.fa-times]="IsSearchOpen"></i>
          </span>
      </button>
      <div class="mobile-list-icon" [class.menu-open]="IsNavOpen" id="navIcon" (click)="OpenNav()" >
          <div class="a"></div>
          <div class="b"></div>
          <div class="c"></div>
      </div>
  </div>
  <section class="search-form container" [class.menu-open]="IsNavOpen" [class.active]="IsSearchOpen">
      <div class="wrapper mt-3">
          <span class="search-field">
              <label for="inputLocation">Location</label>
              <input type="text" id="inputLocation" class="" placeholder="Where are you going?">
          </span>
          <span class="search-field">
              <label for="inputBudget">Cost</label>
              <input type="number" id="inputBudget" class="" placeholder="What is your budget">
          </span>
          <span class="search-field">
              <label for="inputCategory">Category</label>
              <input type="text" id="inputCategory" class="" placeholder="Choose category..">
          </span>
          <span class="search-field search-last">
              <span class="wrapper">
                  <label for="inputGuests">Guests</label>
              <input type="text" id="inputGuests" placeholder="who's your company?">
              </span>
              <button class="icon-search-wrapper">
              <i class="fas fa-search"></i>
              </button>
          </span>
      </div>
  </section>
  <section class="menu-mobile-list" id="navOpen" [class.active]="IsNavOpen">
      <a class=" about item-style" routerLink="">
          <img src="../../../assets/images/yalla%20feen%20logo1.png" alt="logo"> </a>
      <a class=" services item-style" href="sign_up.html">Products</a>
      <a class=" place-order item-style" href="./custom_trip.html">BLOG</a>
      <a class=" faqs item-style" href="./review.html">FAQS</a>
      <a class=" blog item-style" href="./login.html">Login</a>
      <a class="contact item-style" href="#">CONTACT US</a>
  </section>
</nav>
<router-outlet></router-outlet>
